<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.erst.mobilelink_back.mapper.MemberMapper">

    <!-- #은 String, $는 Object? -->
    <select id="searchMember" parameterType="map" resultType="memberVo">
        SELECT * FROM mobilelink.member WHERE status = 1
        <if test="telecom != '' and telecom != null">
            AND telecom = ${telecom}
            <if test="search != '' and keyword != null">
                <choose>
                    <when test="search.equals('login')">
                        AND login LIKE CONCAT('%',#{keyword},'%')
                    </when>
                    <when test="search.equals('name')">
                        AND `name` LIKE CONCAT('%',#{keyword},'%')
                    </when>
                    <when test="search.equals('phonenumber')">
                        AND phonenumber LIKE CONCAT('%',${keyword},'%')
                    </when>
                </choose>
            </if>
        </if>
        <if test="search != '' and keyword != null">
            <choose>
                <when test="search.equals('login')">
                    AND login LIKE CONCAT('%',#{keyword},'%')
                </when>
                <when test="search.equals('name')">
                    AND `name` LIKE CONCAT('%',#{keyword},'%')
                </when>
                <when test="search.equals('phonenumber')">
                    AND phonenumber LIKE CONCAT('%',${keyword},'%')
                </when>
            </choose>
        </if>
        ORDER BY created_date DESC LIMIT ${offset}, ${limit}
    </select>

    <select id="countSearchMember" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM mobilelink.member WHERE status = 1
        <if test="telecom != '' and telecom != null">
            AND telecom = ${telecom}
            <if test="search != '' and keyword != null">
                <choose>
                    <when test="search.equals('login')">
                        AND login LIKE CONCAT('%',#{keyword},'%')
                    </when>
                    <when test="search.equals('name')">
                        AND `name` LIKE CONCAT('%',#{keyword},'%')
                    </when>
                    <when test="search.equals('phonenumber')">
                        AND phonenumber LIKE CONCAT('%',${keyword},'%')
                    </when>
                </choose>
            </if>
        </if>
        <if test="search != '' and keyword != null">
            <choose>
                <when test="search.equals('login')">
                    AND login LIKE CONCAT('%',#{keyword},'%')
                </when>
                <when test="search.equals('name')">
                    AND `name` LIKE CONCAT('%',#{keyword},'%')
                </when>
                <when test="search.equals('phonenumber')">
                    AND phonenumber LIKE CONCAT('%',#{keyword},'%')
                </when>
            </choose>
        </if>
    </select>

    <select id="selectOneMember" resultType="memberVo">
        SELECT * FROM mobilelink.member WHERE id = #{id}
    </select>

    <insert id="insertNewMember" parameterType="memberVo">
        INSERT INTO mobilelink.member() VALUES(0, #{name}, #{login}, #{password}, #{phonenumber}, #{telecom}, now(), null, 1)
    </insert>

    <update id="updateOneMember" parameterType="map">
        UPDATE mobilelink.member SET `password` = #{password}, phonenumber = #{phonenumber}, telecom = #{telecom},
        updated_date = now() WHERE login = #{login} AND `name` = #{name};
    </update>

    <!-- 가짜로 지워지는 쿼리 -->
    <update id="deleteOneMember" parameterType="map">
        UPDATE mobilelink.member SET status = 0, updated_date = now() WHERE id = #{id} AND login = #{login} AND `password` = #{password}
    </update>

    <!-- 실제로 지워지는 쿼리 -->
    <delete id="realDeleteOneMember" parameterType="map">
        DELETE FROM mobilelink.member WHERE id = #{id} AND login = #{login} AND `password` = #{password}
    </delete>

</mapper>
